
/*
light blue color: #9FCEDE;
medium blue color: #3E9FBF;
dark blue color: #1c7089;
orange color: #EA9B1A;

*/

body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}


 .bg-light {
  background-color: #fff !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  align-items: center;
}
.nav-item a {
  color: #303030 !important;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
}
.nav-item a:hover {
   color: black !important;
   background-color: #9FCEDE !important;
}

.here {
  border-bottom: 3px solid #3E9FBF;
}

p a {
   color: #EA9B1A;
   font-weight: 600;

}
p a:hover {
  text-decoration: none;
  color: #3E9FBF;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  font-weight:normal !important;
}

h1 {
  color: #1c7089;
}

h2 {
  text-align: center;
  color: #494949;
  font-family:"Lato", sans-serif;
  padding-bottom: 10px;
}

h2 a, h3 a {
   color: black;
   background-color: #9FCEDE;
   padding: 2px;
   padding-right: 4px;
   padding-left: 4px;

}
h2 a:hover, h3 a:hover {
  text-decoration: none;
  background-color: black;
  color: #9FCEDE;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
}

h3 {
  font-size: 14pt;
  color: #1c7089;
  font-family:"Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
h4 {
  font-size: 12pt;
  }

h5 {
  font-size: 11pt;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 250px;

}

p {
  font-family: 'Helvetica Neue', sans-serif;
  size: 12pt;
}

.btn-primary {
	color: #fff;
	background-color: #9fbfc6;
	border-color: #9fbfc6;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  body {
    padding-top: 86px;
  }
}

.card {
  border: none;
}
.card-img-top {
  align-self: center;
  max-width: 250px;
}

.h-100 {
  width: 270px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
 }
